<section *ngIf="isLogged" (isLoggedChange)="fetchTasksIfLogged()">
  <h2>Tasks</h2>
  <section *ngIf="openAddForm">
    <app-add-task-form
      (showAddFormChange)="switchAddForm()"
    ></app-add-task-form>
  </section>
  <button class="btn btn-primary" (click)="switchAddForm()">
    {{ openAddForm ? "Close" : "Add Task" }}
  </button>
  <ul>
    <p *ngIf="tasks?.length === 0">No tasks to display.</p>
    <li *ngFor="let task of tasks">
      <section class="card">
        <section class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">{{ task.description }}</p>
          <p class="card-text">{{ task.dueDate }}</p>
          <p class="card-text">{{ task.priority }}</p>
          <p class="card-text">{{ task.status }}</p>
          <button class="btn btn-primary" (click)="switchEditForm()">
            Edit
          </button>
          <button class="btn btn-primary" (click)="askConfirmation(task.id)">
            Delete
          </button>
          <section *ngIf="openEditForm">
            <app-edit-task-form
              [task]="task"
              (showEditFormChange)="switchEditForm()"
            ></app-edit-task-form>
          </section>
        </section>
      </section>
    </li>
  </ul>
</section>

<section *ngIf="!isLogged">
  <p>Please log in to view tasks.</p>
</section>
